@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

td:first-of-type {
  @apply w-0 m-0;
}

th:first-of-type span,
th:first-of-type input,
th:first-of-type label {
  display: none;
}
